.input-style {
  padding: 16px;
  border-radius: 8px;
  border: 0.0625rem solid var(--neutral-900);
  transition: border-color .3s ease-out;

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--primary-green-600);
    }
  }

  &:focus-visible,
  &:active {
    border-color: var(--primary-green-600);
  }
}

.form {
  display: grid;
  align-items: flex-start;
  gap: 1.125rem;

  grid-template-areas:
    'title'
    'field1'
    'field2'
    'field3'
    'field4'
    'field5'
    'field6'
    'submit'
  ;

  padding: clamp(24px, 5vw, 2.5rem);
  border-radius: 1rem;
  background-color: var(--neutral-100);

}

.form__title {
  grid-area: title;
}

.form__field {
  display: grid;
  gap: 0.5rem;

  &:has(fieldset) {
    gap: 1rem;
  }

  &:nth-child(2) {
    grid-area: field1;
  }

  &:nth-child(3) {
    grid-area: field2;
  }

  &:nth-child(4) {
    grid-area: field3;
  }

  &:nth-child(5) {
    grid-area: field4;
  }

  &:nth-child(6) {
    grid-area: field5;
  }

  &:nth-child(7) {
    grid-area: field6;
  }
}

.form__field--checkbox {
  grid-template-columns: 1.25rem 1fr;
  grid-auto-columns: 1fr;
  justify-items: flex-start;
  gap: 1.3rem;
  align-items: center;
  padding-block: 1.125rem;
}

.form__fieldset {
  display: contents;
}

.form__fieldset-item {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  padding-inline: 1.5rem;

  font-size: 1.125rem;
  line-height: 1;

  &:focus-within {
    border-color: var(--primary-green-600);
  }

  &:has(:checked) {
    background-color: var(--primary-green-200);
  }
}

.form__label--radio::after {
  content: "";
  position: absolute;
  inset: 0;
}

.form__label-sign {
  color: var(--primary-green-600);
}

.form__radio {
  width: 1.1875rem;
  height: 1.1875rem;

  accent-color: var(--primary-green-600);
  transition: all .3s ease-out;

  &:checked {
    background-color: red;
  }
}

.form__textarea {
  resize: none;
  height: 15rem;
  transition: border-color .3s ease-out;

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--primary-green-600);
    }
  }

  &:focus-visible {
    outline: 0.0625rem solid var(--primary-green-900);
  }
}

.form__checkbox {
  appearance: none;
  position: relative;
  padding: 0.5625rem;
  border-radius: initial;
  cursor: pointer;
  transform: translateX(0.1875rem);
  transition: border-color .3s ease-out;

  &:checked {
    border-color: transparent;
    transition: border-color .3s ease-out;
  }

  &:checked::after {
    position: absolute;
    content: '';
    inset: 0;
    background-image: url('../images/icon-checkbox-check.svg');
    background-size: cover;
  }
}

.form__submit {
  grid-area: submit;
  padding: 19.2px;
  font-size: 1.1875rem;
  border-radius: 8px;
  color: var(--neutral-100);
  background-color: var(--primary-green-600);
  transition: background-color .3s ease-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--primary-green-900);
    }
  }
}

.form__submit--inactive {
  pointer-events: none;
  background-color: rgb(211 211 211 / 0.6);
}

.form__error {
  display: none;
  color: var(--primary-red);
}

.form__field--checkbox .form__error {
  grid-column: span 2;
}

.form__error--active {
  display: block;
}

.form__type-input-error:not(.form__checkbox) {
  border-color: var(--primary-red);
}

@media (width > 48rem) {
  .form {
    padding-block-start: 2rem;
    row-gap: 1.25rem;
    grid-template-areas:
      'title title'
      'field1 field2'
      'field3 field3'
      'field4 field4'
      'field5 field5'
      'field6 field6'
      'submit submit'
    ;
  }

  .form__field {
    &:nth-child(5) {
      grid-template-areas:
        'legend legend'
        'radio1 radio2'
      ;
    }
  }

  .form__fieldset-legend {
    grid-area: legend;
  }

  .form__fieldset-item {
    &:nth-child(2) {
      grid-area: radio1;
    }

    &:nth-child(3) {
      grid-area: radio2;
    }
  }

  .form__textarea {
    height: 6.5625rem;
  }
}