.input-style {
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--neutral-900);
  transition: border-color .3s ease-out;

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--primary-green-600);
    }
  }

  &:focus-visible,
  &:active {
    border-color: var(--primary-green-600);
  }
}

.form {
  display: grid;
  gap: 1.125rem;
  padding: clamp(1.5rem, 2vw, 2rem);
  border-radius: 1rem;
  background-color: var(--neutral-100);
}

.form__field {
  display: grid;
  gap: .5rem;

  &:has(fieldset) {
    gap: 1rem;
  }
}

.form__field--checkbox {
  grid-template-columns: 20px max-content;
  grid-auto-columns: 1fr;
  gap: 1.3rem;
  align-items: center;
  padding-block: 1.125rem;
}

.form__fieldset {
  display: contents;
}

.form__fieldset-item {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  padding-inline: 1.5rem;

  font-size: 18px;
  line-height: 1;

  &:focus-within {
    border-color: var(--primary-green-600);
  }

  &:has(:checked) {
    background-color: var(--primary-green-200);
  }
}

.form__label--radio::after {
  content: "";
  position: absolute;
  inset: 0;
}

.form__label-sign {
  color: var(--primary-green-600);
}

.form__radio {
  width: 19px;
  height: 19px;

  accent-color: var(--primary-green-600);
  transition: all .3s ease-out;
}

.form__textarea {
  resize: none;
  transition: border-color .3s ease-out;

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--primary-green-600);
    }
  }

  &:focus-visible {
    outline: 1px solid var(--primary-green-900);
  }
}

.form__checkbox {
  appearance: none;
  position: relative;
  padding: 9px 8px;
  border-radius: initial;
  cursor: pointer;
  transform: translateX(3px);
  transition: border-color .3s ease-out;

  &:checked {
    border-color: transparent;
  }

  &:checked::after {
    position: absolute;
    content: '';
    inset: 0;
    background-image: url('../images/icon-checkbox-check.svg');
    background-size: cover;
    opacity: 1;
    scale: 1;
    transition: opacity 3s ease;
  }
}

.form__submit {
  padding: 1.2rem;
  font-size: 19px;
  border-radius: .5rem;
  color: var(--neutral-100);
  background-color: var(--primary-green-600);
  transition: background-color .3s ease-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--primary-green-900);
    }
  }
}

.form__submit--inactive {
  pointer-events: none;
  background-color: rgb(211 211 211 / 0.6);
}

.form__error {
  display: none;
  color: var(--primary-red);
}

.form__field--checkbox .form__error {
  grid-column: span 2;
}

.form__error--active {
  display: block;
}

.form__type-input-error:not(.form__checkbox) {
  border-color: var(--primary-red);
}
